<!DOCTYPE html>
<html>
	<head>
		<meta charset = 'utf-8'>
		<title>Some website</title>
	</head>
	<body>
		<p>{{screamIt 'We will be right back'}}</p>
		<p>Site will render soon</p>

	</body>
</html>